*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f6fb;
    padding:40px;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:40px;
}

header h1{
    color:#1e293b;
}

.create-btn{
    text-decoration:none;
    background:#2563eb;
    color:white;
    padding:12px 20px;
    border-radius:10px;
}

.course-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(300px,1fr));
    gap:25px;
}

.course-card{
    background:white;
    padding:25px;
    border-radius:18px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    transition:0.3s;
}

.course-card:hover{
    transform:translateY(-5px);
}

.course-card h2{
    margin-bottom:15px;
    color:#2563eb;
}

.course-card p{
    margin-bottom:10px;
    color:#555;
}

.buttons{
    margin-top:20px;
    display:flex;
    gap:10px;
}

.buttons button{
    flex:1;
    border:none;
    padding:10px;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
}

.open-btn{
    background:#22c55e;
    color:white;
}

.edit-btn{
    background:#f59e0b;
    color:white;
}

.delete-btn{
    background:#ef4444;
    color:white;
}