*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f6fb;
    min-height:100vh;
    padding:40px;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:40px;
}

header h1{
    color:#1a73e8;
}

.search-box input{
    width:300px;
    padding:12px;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:16px;
}

.search-box input:focus{
    outline:none;
    border-color:#1a73e8;
}

.course-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280))
}